########################################
## <summary>
##	Allows the caller to use the SELinux status page.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`selinux_use_status_page',`
	gen_require(`
		type security_t;
	')

	dev_search_sysfs($1)
	allow $1 security_t:dir list_dir_perms;
	allow $1 security_t:file mmap_read_file_perms;
')
